//  Default Colors
$white: #fff !default;
$black: #000 !default;

// Project Colors

$background: #FAFAFA !default;


$red: #F05E5C !default;
$red-dark: #C25151 !default;
$red-light: #FDEFEE !default;
$blue: #41A5BB !default;
