$padding-primary: 16px !default;
$padding-secundary: 10px !default;
$padding-header: 16px 10px 16px 16px !default;

$m-21: 21px !default;
$m-15: 15px !default;
$m-14: 14px !default;
$m-12: 12px !default;
$m-7: 7px !default;
